# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*~
*.so
.Python
.venv/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/

# Local Data/Models (Don't send massive files to Docker unless required)
*.pth
*.onnx
*.weights
datasets/
logs/